---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import AirdropCalculate from '../../components/airdrop/AirdropCalculate.jsx';
import PageHeader from '../../components/PageHeader';
import PageFooter from '../../components/PageFooter';

const btsAllAssets = await getCollection('btsAllAssets');
const testAllAssets = await getCollection('testAllAssets');

const btsMarketData = await getCollection('btsMarketData');
const testMarketData = await getCollection('testMarketData');

const btsFeeSchedule = await getCollection('btsFeeSchedule');
const testFeeSchedule = await getCollection('testFeeSchedule');

const btsAssets = btsAllAssets.map((collection) => collection.data);
const testAssets = testAllAssets.map((collection) => collection.data);
const btsMarkets = btsMarketData.map((collection) => collection.data);
const testMarkets = testMarketData.map((collection) => collection.data);
const btsFeeScheduleList = btsFeeSchedule.map((collection) => collection.data);
const testFeeScheduleList = testFeeSchedule.map((collection) => collection.data);
---

<Layout title="Calculate airdrop">
	<main>
		<PageHeader client:only="react" page="airdrop_calculate" backURL="../index.html" />
		<AirdropCalculate
			client:only="react"
			_assetsBTS={btsAssets}
			_assetsTEST={testAssets}
			_marketSearchBTS={btsMarkets}
			_marketSearchTEST={testMarkets}
			_globalParamsBTS={btsFeeScheduleList}
			_globalParamsTEST={testFeeScheduleList}
		/>
		<PageFooter client:only="react" sourceURL="https://github.com/BTS-CM/astro-ui/blob/main/src/pages/airdrop_calculate/index.astro" />
	</main>
</Layout>
